/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #2B3A37;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #e0f2f1;
    height: 100%;
}

/* Set black background color, white text and some padding */

#Intro{
    padding-left:20px;
    padding-right:20px;
    font-size: 170%;
    font-weight: bold;
    padding-top:50px;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}
form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {

    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;

    width: 300px;
    height: 80px;
    border: solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #2B3A37;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;

}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.col-25 {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.col-75 {
    float: left;
    width: 100%;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
#repairsId{
    font-weight: bold;
    font-size: 200%;
    font-style: normal ;
    color: white;
}
#login{
    background-image: url(../images/login.jpg);
    background-position: center;
    background-size: 1500px 475px;
    background-repeat: no-repeat, repeat;
    padding: 100px;
}
#headerWidth{
    padding: 25px;
}
footer {
    background-image: url(../images/login.jpg);
}